<!DOCTYPE html>
html(lang="zh-TW")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        meta(name="description", content="不放棄設計的前端工程師，持續追求更好的自己。")
        meta(name="keywords", content="web frontend、web ui designer")
        meta(name="og:title", content="陳玟憲＿個人網站")
        meta(name="og:description" content="不放棄設計的前端工程師，找出創意與現實碰撞的最佳解。")
        title 陳玟憲＿個人網站
        link(rel="shortcut icon" href="images/favicon.png")
        link(rel="stylesheet" href="./css/m.css" type="text/css")
    body
        header(class="banner")
            nav
                div(class="phoneBtn")
                    - for (let i = 0; i < 3; i++)
                        span

                ul
                    each text, index in {'#about': '關於我', '#skill': '技能說明', '#work': '精選作品', '#contact': '與我聯絡'}
                        li
                            a(href=index)= text

            div(class="slogan")
                h1(class="aniTxt")
                    span(class="text-wrapper")
                        span(class="letters") 抱持狂想的前端工程師
                each text in ['The Best FrontEnd Developer Only For You', '前端工程。前端設計']
                    div(class="aniTxt")
                        span(class="text-wrapper")
                            span(class="letters")= text

        .container

            div#about(class="about box01")
                div.inbox(data-aos="fade-up" data-aod-once="true")
                    div.title
                        span About
                        h2 關於我
                    figure
                        img(src="images/me.png" alt="陳玟憲個人照")
                    div.txtbox
                        p.
                            也喜歡設計的前端工程師，喜歡在不同的條件下，
                            找出創意與現實碰撞的最佳解，因為自己天馬行空的想法當然要自己善後，
                            期望自己在前端與設計的領域，持續精進，外表冷靜，但內心像狗一樣吵鬧，
                            如果要問我為什麼會這樣，我會把一切都推給巨蟹座。

            div#skill(class="skill box02")
                div(class="inbox" data-aos="fade-up" data-aos-once="true")
                    div(class="title")
                        h2 技能說明
                        span Skills
                    ul(class="itembox clearfix")
                        li(class="item")
                            h3 JavaScript
                            div(class="txtbox")
                                img(src="images/icon_js.png" alt="Js")
                                p 熟悉原生JS，了解各種原理，閉包、this、同步非同步、hoisting等問題。也掌握es6語法。基礎 canvas 特效，並透過前端工具鍊 gulp、browserify、babel進行任務控管與打包編譯的工作。
                        li(class="item")
                            h3 Html5
                            div(class="txtbox")
                                img(src="images/icon_html5.png" alt="Html5")
                                p 了解各標籤語意，切版時產出乾淨的結構，並有效運用每個標籤完成網站應用。也能使用模版語言pug等工具，快速達成任務。
                        li(class="item")
                            h3 Css
                            div(class="txtbox")
                                img(src="images/icon_css3.png" alt="Css3")
                                p  手刻完成 RWD 切版。善用css製作動畫，編寫scss為主，並使用postcss做後續瀏覽器兼容、壓縮等工作。
                        li(class="item")
                            h3 JS 框架
                            div(class="txtbox")
                                img(src="images/icon_framework.png" alt="Js")
                                p 前端框架：Vue 生命週期、組件、單向資料流與雙向綁定概念。Vue router、Vuex 狀態管理。<br>後端框架：express。
                        li(class="item")
                            h3 git
                            div(class="txtbox")
                                img(src="images/icon_git.png" alt="rwd")
                                p 熟悉 git 指令，使用 git flow 維護專案。
                        li(class="item")
                            h3 PS / AI / XD
                            div(class="txtbox")
                                img(src="images/icon_adobe.png" alt="sublime")
                                p 也能獨立完成設計需求。

            div#work(class="work box01")
                div(class="inbox clearfix" data-aos="fade-up" data-aos-once="true")
                    div(class="title")
                        span Work Porfolio
                        h2 精選作品
                    div(class="gallery")
                        ul
                            li(class="active")
                                a(href="https://birc.io"
                                  target="_blank")
                                  img(src="images/work01.jpg", alt="鉑客幣")
                            li(class="first")
                                a(href="https://wen0720.github.io/vueShop/#/"
                                  target="_blank")
                                  img(src="images/work02.jpg", alt="VueShop")
                            li(class="second")
                                a(href="https://github.com/wen0720/gameSystem"
                                  target="_blank")
                                  img(src="images/work03.jpg", alt="遊戲模組管理平台")
                    div(class="txtbox")
                        ul
                            li(class="active")
                                h3 birc 鉑客幣
                                p 加密貨幣介紹網站。主要負責前端畫面實作，scss 切版、畫面規劃。串接 youtube api。
                            li(class="first")
                                h3 健身課程網（自行開發 - Vue）
                                p 線上健身課程訂購網。設計並完成前台介面功能互動，製作管理介面，介接後端 api。
                            li(class="second")
                                h3 遊戲模組管理平台（自行開發 - Vue）
                                p 使用 element-ui 構建管理畫面。串接 Imgur Api 實作圖片上傳功能，json-server 建立簡易資料庫。
                        div(class="btnbox")
                            a(class="prev" href="javascript:;")
                                img(src="images/arrow_left.png")
                            a(class="next" href="javascript:;")
                                img(src="images/arrow_right.png")

            div#contact(class="contact box02 bg01")
                div(class="inbox" data-aos="fade-up" data-aos-once="true")
                    div(class="title")
                        h2 與我聯絡
                        span Contact
                    p 期望我能成為您的工作夥伴之一，請與我聯絡。
                    ul
                        li
                            a(href="mailto:faition2@gmail.com")
                                img(src="images/icon_mail.png")
                                span 寄信給我
                        li
                            a(href="https://www.facebook.com/profile.php?id=100001679700319" target="_blank")
                                img(src="images/icon_fb.png")
                                span 翻翻臉書

        footer
            div(class="inbox")
                a(href="https://github.com/wen0720" target="_blank")
                    span 前往我的github
                    span Best Web Developer You Can't Miss

        script(src="index.bundle.js")
